{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block title %}
    <title>Yorumlarım  >>>  {{setting.company}}</title>
    {% endblock title %}

    {% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{setting.icon.url}}">
    {% endblock head %}

    <!-- Topbar Start -->
    {% include 'includes/_topbar.html' %}
    <!-- Topbar End -->
    {% block content %}
    {% include 'includes/_navbar.html' %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Anasayfa</a>
                    <span class="breadcrumb-item active">Yorumlar</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    {% include 'includes/__messages.html' %}

    <div class="container">
        <div class="row">
                <div class="col-lg-2">
                    <ul class="list-group">
                        <button class="list-group-item"><a href="{% url 'user_update' %}">Profil Güncelle</a></button>
                        <button class="list-group-item"><a href="{% url 'favories' %}">Favorilerim</a></button>
                        <button class="list-group-item"><a href="{% url 'shoppingcart' %}">Sepetim</a></button>
                        <button class="list-group-item"><a href="{% url 'change_password' %}">Şifre Değiştir</a></button>
                      </ul>
                </div>
                <div class="col-lg-10">
                    <table class="shopping-cart-table table">
                       
                            
                            <tr>
                                <th class="text-left">Ürün</th>
                                <th class="text-left">Konu</th>
                                <th class="text-left">Yorum</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Tarih</th>
                                <th class="text-left">Sil</th>
                            </tr>
    
                        {% for rs in comments %}
                            <tr>
                                <td class="text-left">{{rs.product.title}}</td>
                                <td class="text-left">{{rs.subject}}</td>
                                <td class="text-left">{{rs.comment}}</td>
                                <td class="text-left">{{rs.status}}</td>
                                <td class="text-left">{{rs.create_att}}</td>
                                <td class="text-left"><a href="{% url 'deletecomment' rs.id %}" onclick="return confirm ('Yorumu silmek istediğinizden emin misiniz ?')" class="btn btn-primary">Sil</a></td>
                            </tr>
                            {% endfor %}
                        
                    </table>
                </div>
        </div>
    </div>
    
      <!-- Footer Start -->
      {% include 'includes/_footer.html' %}
      <!-- Footer End -->
  
      {% endblock content %}