{% load static %}
 <!-- Topbar Start -->
 <div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" href="" title="Hakkımızda">Hakkımızda</a>
                <a class="text-body mr-3" href="" title="İletişim">İletişim</a>
                <a class="text-body mr-3" href="" title="Yardım">Yardım</a>
                <a class="text-body mr-3" href="" title="Sıkça Sorulan Sorular">SSS</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            {% if request.user.is_authenticated %}
            <div class="d-inline-flex align-items-center">
                
                <div class="btn-group">
                    
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle text-uppercase" data-toggle="dropdown">{{request.user}}</button>
                    <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'profile' %}" class="dropdown-item" type="button">Profil</a>  
                            <a href="{% url 'logout' %}" class="dropdown-item" type="button">Çıkış Yap</a>
                        </div>
                          
                </div>
                <div class="btn-group mx-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TL</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">USSD</button>
                        <button class="dropdown-item" type="button">EUR</button>
                        <button class="dropdown-item" type="button">GBP</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TR</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">FR</button>
                        <button class="dropdown-item" type="button">AR</button>
                        <button class="dropdown-item" type="button">RU</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Hesabım</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'login' %}" class="dropdown-item" type="button">Giriş Yap</a>
                        <a href="{% url 'signup' %}" class="dropdown-item" type="button">Üye ol</a>
                        </div>
                </div>
                <div class="btn-group mx-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">EUR</button>
                        <button class="dropdown-item" type="button">GBP</button>
                        <button class="dropdown-item" type="button">CAD</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TR</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">FR</button>
                        <button class="dropdown-item" type="button">AR</button>
                        <button class="dropdown-item" type="button">RU</button>
                    </div>
                </div>
                </div>
                    {% endif %}

                    
                    {% if request.user.is_authenticated %}
                    <div class="d-inline-flex align-items-center d-block d-lg-none">
                        <a href="{% url 'favories' %}" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{request.session.favories_items}}</span>
                        </a>
                        <a href="{% url 'shoppingcart' %}" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{request.session.cart_items}}</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="d-inline-flex align-items-center d-block d-lg-none">
                        <a href="{% url 'favories' %}" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="{% url 'shoppingcart' %}" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                    {% endif %}
                        
            

        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Yıldırım</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Store</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="{% url 'search'%}" method="GET">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ürün Ara" name="query" value="{{request.GET.query}}">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Müşteri Hizmetleri</p>
            <h5 class="m-0">+012 345 6789</h5>
        </div>
    </div>
</div>
<!-- Topbar End -->